<div class="footer"> 
	<small>
		<%= link_to "Seminars Worlwide", "http://webitcongress.com", target: '_blank' %>
			by The Seminar Portal, 
			creator of <%= link_to "Treebook", "http://beachbar.herokuapp.com", target: '_blank' %>
	</small>
</div>